.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formRating {
    align-self: flex-start;
}

.formComment {
    color: rgb(156, 13, 13);
}

.inputField {
    outline: 1px solid white;
    border: unset;
    font-size: 1.1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    color: white;
}

.inputField:focus {
    outline: 1px solid var(--color-primary-200);
    border: unset;
}